/*@media (min-width: 1450px) {
  .container {
    width: 1200px;
  }
  .container-fluid {
    width: 1350px;
  }
}*/

.container-fluid {
    margin-left: 7%;
}

a {
    text-decoration: none;
}
    
.tocnumber {
    color: black;
    margin-right: 5px;
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
    margin-top: 10px;
}
    
th, td {
    border: 1px solid gray;
    background-color: whitesmoke;
    font-family: Arial;
    font-size: 14px;
    padding: 2px 5px;
}

th {
    text-align: center;
    background-color: lightgray;
}

.table-yes {
    background: #9F9;
    vertical-align: middle;
    text-align: center;
}

.table-no {
    background: #F99;
    vertical-align :middle;
    text-align: center;
}

.table-na {
    background: #ececec; 
    color: #2C2C2C; 
    vertical-align: middle; 
    font-size: 12px; 
    text-align: center;
}

.table-note {
    text-align: center; 
    font-size: 8pt;"
}

.album {
    font-style: italic;
    text-align: center;
}